@import "tailwindcss";

@theme {
  --font-display: 'Outfit', sans-serif;
  --font-sans: 'Plus Jakarta Sans', sans-serif;
  --font-mono: 'JetBrains Mono', monospace;

  --color-primary: #0088E8;
  --color-primary-dark: #005ea3;
  --color-primary-light: #38b6ff;
  --color-navy: #0F2942;
  --color-navy-dark: #0A192F;
  --color-navy-deep: #081220;
  --color-canvas: #faf8ff;
  --color-surface-dim: #d2d9f4;
  --color-surface-container: #eaedff;
  --color-surface-high: #e2e7ff;
  --color-surface-highest: #dae2fd;
  --color-on-surface: #131b2e;
  --color-on-surface-variant: #404752;
  --color-card-border: #e2e7ff;
}

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
  background-color: #faf8ff;
  color: #131b2e;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Outfit', sans-serif;
}

